* {
	margin:  0em 0em 0em 0em;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

header {
	background-color: #861E23;
	margin-top: 0em
	margin-left: 0em;
	margin-right: 0em;
	height: auto;
}
.container {
	margin-bottom: 5em;
}

.dickQuote {
	padding: 3em 1em 0em 1em;
	text-align: justify;	
}
.dickQuote span {
	width: 32rem;
	max-width: 90%;
	display: block;
	margin: auto;
	text-align: left;
}

.aboutQuote {
	margin-top: 4em;
	text-align: left;
	padding-left: 4em;
}

@media (min-width: 769px) {
	.actButtons {
		padding: 2em 2em 4em 2em;
		
	}	
}
@media (max-width: 768px) {
	.actButtons {
		padding: 1em 2em 4em 2em;
	}
	.actButtons button, .actButtons span {
		width: 85%;
	}
}

#contactForm {
	float: none;
	margin: auto;
}

#contactform form {
	text-align: left;
	padding-top: 2em;
	padding-bottom: 3em;	
	padding-left: 1em;
	padding-right: 1em;
	float: none;
	margin: auto;
	width: 75%;
	box-shadow: 2px 2px 24px 0 rgba(0, 0, 0, .3);
	background-color: #4E5954;

}

#contactForm label {
	width: 90%;
	display: block;
}

#contactForm button {
	padding: 1em 3em 1em 3em;
	font-size: 2rem;
	border: none;
	color: white;
}

#contactForm h2 {
	margin-left: 1rem;
	width: 60%;
	margin: auto;
	text-align: center;
	font-size: 4.5rem;
}

#contactForm span {
	display: block;
	font-size: 2rem;
	width: 100%;
}

#contactForm label {
	width: 80%;
	margin: auto;
	margin-bottom: .25em;
}

#contactForm .submitContainer {
	text-align: center;
}

#contactForm input, #contactForm textarea {
	width: 100%;
	color: #333;
	background-color: #F0F0F0;
	border: none;
	padding: .2em 1em .2em 1em;
	font-size: 2rem;
	line-height: 2rem;
}

#contactForm textarea {
	height: 15rem;
}

.actButtons {
	text-align: center;
}
.actButtons button {
	color: #F6EFEF;
	border: none;
	padding: 1rem 4rem 1rem 4rem;
	font-size: 1em;
	text-transform: uppercase;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	float: none;
	font-weight: bold;
	text-shadow:0 0 1px transparent;
}

form.col-md-6.homeBox.payPalForm {
	padding-left: 0px;
	padding-right: 0px;
}
@media (min-width: 769px) {
	.actButtons form {
		width: 11em;
		display: inline-block;
	}

	.actButtons form button {
		width: 100%;
	}
}

.imageBox {
	padding-top: .5rem;
}

.actButtons .donateButton {
	background-color: #D0A240;
}

.actButtons .contactButton {
	background-color: #2E3532;
}

.joinForm {
	padding-top: 2em;
	padding-bottom: 3em;
}

#hellerSign { 
	color: #861E23;
	display: block;
	text-align: right;
	font-size: 1.5em;
	font-weight: bold;
}

#topOfQuote {
	color: #2E3532;
	text-transform: uppercase;
	display: block;
	font-size: 1.8em;
	font-weight: 500;
}

#devoEventDesc {
	padding-left: 2rem;
}


#headerImageContainer {
	width: 100%;
	text-align: center;
	padding: 1.5em 0em 1em 0em;
}

.navBox {
	width: 100%;
	text-align: center;
}

@media (min-width: 963px) {
	#hamburger {
		display: none;
	}
}

@media (max-width: 962px) {
	#mainLogo {
		margin-left: 40%;
	}

	#hamburger {
		float: left;
		margin-left: 3em;
		margin-top: 5em;		
	}	
	.navBox {
		display: none;
	}
}

@media (max-width: 575px) {
	#mainLogo {
		margin-left: 10%;
	}

	#hamburger {
		float: left;
		margin-left: 3em;
		margin-top: 5em;		
	}	
	.navBox {
		display: none;
	}	
}

ul.nav {
	width: 50%;
	float: none;
	margin: auto;
	text-align: center;
	justify-content: space-between;
}

ul.nav button {
	color: #F6EFEF;
	background-color: transparent;
	display: inline-block;
	line-height: 1.5em;
	width: 16%;
	padding: .75em 2em 1em 2em;
	text-align: center;
	border: none;	
}

ul.nav >  a  {
	display: inline-block;
	line-height: 1.5em;
	width: 16%;
	padding: .75em 2em 1em 2em;
	text-align: justify;
}

ul.nav > a:hover {
	text-decoration: none;
}

ul.nav > a  > li {
	font-size: 1em;
	color: white;
	line-height: 1.5em;
	width: 100%;
	color: #F6EFEF;
	text-align: center;
		
}

footer {
	width: 100%;
	padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    padding-left: 0px;
    padding-right: 0px;
	background-color: #F0F0F0;
	text-align: center;
}

footer h6 {
	color: #7A7A7A;
	font-size: .75em;
	width: 45%;
	text-align: center;
	margin: auto;
}

.homeBox {
	text-align: center;
}

.joinForm form {
	background-color: #861E23;
	color: #F6EFEF;
	width: 70%;
	float: none;
	text-align: center;
	padding: 2em 1em 4em 1em;
}
@media (min-width: 769px) {
	.joinForm form {
		width: 70%;
	}	
}

@media (max-width: 768px) {
	.joinForm form {
		width: 90%;
	}	
}

.joinForm form label {
	display: block;
	padding: .2em 1em .2em 1em;
	text-align: justify;
	width: 90%;
}

.joinForm form span {
	width: 10%;
}

.joinForm form input {
	width: 70%;
	float: right;
}
.joinForm form button {
	background-color: #2E3532;
	padding: .5em 2em .5em 2em;
	border: none;
	margin-top: 2em;
}

.aboutParagraph {
	letter-spacing: 1.5px;
	text-align: justify;
	padding-left: 4em;
	padding-right: 4em;

}

form.contactForm {
	margin: auto;
}

.imageBox img {
	width: 100%;
}



.donateMainText {

	margin: auto;
	padding-left: 4.5rem;
	padding-right: 4.5rem;
}

.donateMainText form {
	display: inline-block;
	float: right;
}

.donateMainText h4 {
	margin-bottom: 2em;
	padding-left: 1rem;
	font-weight: bold;
	display: block;
}
.donateMainText h1 {
	margin-bottom: 1em;
	padding-left: 1rem;
}

.donateMainText form input[type="submit"] {
	padding: .75rem 3rem .75rem 3rem;
	border: none;
	background-color: #D0A240;
	color: white;
}


.donateMainText img {
	width: 30rem;
	display: inline-block;
	float: left;
	margin-right: 2rem;
}

.donateImageWrap .imageSidekick {
	height: 20rem;
	float: left;
	padding: 1em 1em 1em 1em ;
}


@media (min-width: 1200px) {
	.donateMainText {
		width: 50%;
	}	
}


.donateMainText p {
	margin-bottom: 3em;
    letter-spacing: 1.5px;
    text-align: justify;
    padding-left: 1rem;
    padding-right: 1rem;
}

.donateContainer {
	width: 100%;
}

.modal-dialog {
    margin: 10vh auto;
}

#joinTheMovement input {
	color: #333;
}
#joinTheMovement input[type="submit"] {
	background-color: #333;
	color: white;
	width: 25%;
	margin: auto;
	float: none;
	border: none;
	margin-top: 1rem;
	padding: .5rem 3rem .5rem 3rem;
}


.socialIcons {
	text-align: center;
	padding-top: 1em;
}
.socialIcons img {
	width: 3rem;
	cursor: pointer;
}

#contactForm #submit {
	padding: .5em 5em .5em 5em;
	color: white;
	text-align: center;
	background-color: #861E23;
}


#requestMoreEventInfo .modal-title {
	text-align: center;
}

#requestMoreEventInfo .modal-footer {
	display: block;
	clear: both;
	margin-top: .5em;
}
#eventAgreeCheckbox span {
	float: left;
	width: 75%;
}

#eventAgreeCheckbox input {
	float: left;
    width: 25%;
    height: 1em;
    margin-top: 1.5em;	
}

#aboutPageHeader {
	padding-left: 15px;
}

.aboutImageBox {
	align-content: center;
    padding-right: 0px;
    padding-left: 0px;	
}
.aboutImageBox img {
	width: 100%;
	padding-top: .5rem;
	float: none;
	text-align: center;
}

.aboutPageRow p span {
	color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}

.formSubmitPopup {
    position: absolute;
    top: 0;
    left: 0;
    height: 75px;
    width: 100%;
    z-index: 99;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    color: white;
}

.formSubmitPopup h3 {
	margin-top: 24px;
	width: 100%;
}

.formSuccess {
	background-color: #4E5954;
}

#mobileMenu {
    display: none;
    background-color: #DDDDDD;
    color: #fffff0;
    list-style: none;
    cursor: pointer;
    -webkit-padding-start: 0px;
}

#mobileMenu > a > li, #mobileMenu > li > button {
    border-bottom: 1px solid #eeeeee;
    line-height: 2em;
    text-align: center;
    font-size: 1.5em;
    padding: .5em 0em .5em 0em;
    color: rgba(0,0,0,0.9);
    font-weight: bold;
    width: 100%;

}

div.row {
   margin-right: 0px;
   margin-left: 0px;
}

div.slideContainer {
	position: relative;
	height: 25em;

}

  .mySlides {
    display: none;
  }

  .mySlides.showing {
    display: block;
  }
  div.slideContainer {
    text-align: center;
  }

.w3-display-left, .w3-display-right {
	position: absolute;
	top: 50%;
	height: 60px;
	width: 60px;
	font-size: 2.5em;
	background-color: rgba(0,0,0,0.2);
	border:none;
	color: white;
}


.eventsTop {
	font-size: 1.3em;
	padding-top: 3em;
	padding-bottom: 3em;
}
.w3-display-left:hover, .w3-display-right:hover {
	box-shadow: 1px 1px 1px gray;
}

.w3-display-left {
	left: 0px;
}

.w3-display-right {
	right: 0px;
}

h2.slideBoxHeader {
	text-align: center;
}

div.slideShow {
	margin-bottom: 10em;
}	

